body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: auto; }

header {
  display: flex;
  flex-flow: column;
  text-align: center; }

header .title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; }

header .title img {
  width: 100px;
  height: 100px; }

header .title .name {
  color: #666666;
  font-size: 3rem;
  font-weight: bold;
  line-height: 2.6;
  margin-left: 20px; }

#btn {
  padding: 15px;
  font-size: 18px;
  background-color: #1976D2;
  width: 95%;
  margin: 10px auto; }

.centralize-button {
  text-align: center;
  /*  border:1px solid green;*/ }

.card {
  width: 100%;
  margin: auto;
  margin-bottom: 30px;
  box-shadow: "none";
  /*  border: 1px solid #f2f2f2;
*/
  position: relative;
  color: #000; }

.unlink {
  text-decoration: none;
  cursor: pointer;
  color: #1976D2; }

.wrapper {
  /* border: 1px solid red;*/
  width: 95vw;
  max-width: 600px;
  height: 100%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 65px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: stretch; }

.form-group {
  /* border: 1px solid green;*/
  margin: 0 auto 20px auto;
  width: 95%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch; }

.searchPanelWrapper {
  height: 100%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 45px;
  display: flex;
  flex-flow: column;
  justify-content: space-between; }

.fixed-height {
  height: 455px; }

.customized-align {
  align-items: center;
  padding: 10px; }

.legal-footer {
  margin-top: 25px;
  line-height: 1.5;
  padding: 8px;
  border: 1px solid blue; }

/****************************/
.wizard-header {
  width: 100%;
  padding: 10px 0 4px 0;
  margin-bottom: 15px;
  /* border: 1px solid blue;*/ }

.wizard-header-bottom {
  border-bottom: 2px solid #1976D2; }

.page-title {
  font-weight: bold;
  font-size: 1.4rem;
  color: #1976D2;
  text-align: center;
  margin: 0; }

.arrow {
  float: left;
  margin-right: -30px;
  color: #1976D2; }

.unlist {
  padding: 0;
  list-style: none; }

/****************************/
.category-title {
  font-weight: bold;
  /*  text-align: center;*/ }

.input-error {
  color: red;
  font-size: 11px;
  text-align: left;
  /* border:1px solid blue;*/ }

.input-success {
  /*  margin-top: 6px;*/
  width: 95%;
  color: blue;
  font-size: 1.2rem;
  text-align: center; }

.hide {
  display: none; }

.unhide {
  display: block; }
