@import 'globals';

$md-picker-inline-z-index: 10800;
$md-dialog-overlay-z-index: 10800;

@include react-md-everything


a:hover{
    color: $md-primary-color;
    text-decoration: none;
}

a:focus{
    color: $md-primary-color;
    text-decoration: none;
}


.u-title-h1
{
  color:  $md-primary-color;
}
